*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    border: none;
    /* background-image: url('img/planodefundo.jpg'); */
    background-color: #eee;
    font-family: 'Montserrat', 'sans-serif';
}

.ativado {
    color: #D1A33D !important;
}


/*formatção de imagens com legenda */

.imagem-principal {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 6vw;
    height: 100vh;
}

.imagem-principal img,
.imagem-principal video {
    width: 100%;
    height: 80vh;
    box-shadow: 1px 1px 20px black;
    object-fit: cover;
}

figure.foto-legenda {
    width: 30%;
    position: relative;
}

figure.foto-legenda figcaption {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
    cursor: pointer;
}

.biografia {
    width: 100%;
    margin: 32px 0;
    padding: 32px;
    background-color: white;
}

.biografia .texto-biografia {
    padding: 50px;
}

.portifolio {
    width: 100%;
    padding: 32px;
}

.portifolio .portifolio-galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.portifolio .portifolio-galeria .img-portifolio {
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    width: 45%;
    max-width: 45%;
    margin-bottom: 45px;
}

.portifolio .portifolio-galeria .img-portifolio img {
    width: 100%;
    height: 395px;
    object-fit: cover;
}

.portifolio .portifolio-galeria .img-portifolio figure {
    position: relative;
}

.portifolio .portifolio-galeria .img-portifolio figure figcaption {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.portifolio .portifolio-galeria .img-portifolio figure:hover figcaption {
    opacity: 1;
    cursor: pointer;
}

.contato {
    width: 100%;
}

.contato .actions input[type="submit"] {
    background-color: #D1A33D !important;
    border-color: #D1A33D !important;
}

.contato .informacoes-adicionais a {
    color: #D1A33D !important;
}

.site-footer {
    background-color: #333;
    color: white;
}

.site-footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

@media (max-width: 480px) {
    /* estilos aqui */
    .imagem-principal {
        justify-content: center;
    }
    .portifolio .portifolio-galeria .img-portifolio {
        width: 100%;
        max-width: 100%;
    }
}


/*

	padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;

*/


/* .portifolio {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.portifolio {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 80px 0;
} */


/**,


}
h3 {
  font-family: monospace; 
  background-color: black;
  background-color: #111111;
  color: #F5FFFA; 
  text-align: center
  
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(https://i.pinimg.com/originals/9d/34/cb/9d34cba27da006b0bce47f2919897fd5.jpg);
 background-repeat: repeat;
  

}

.container {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}

figure.card {
	position: relative;
	width: 380px;
	height: 240px;
	background-image: var(--image-src);
	background-position: 50% 50%;
	background-size: 125%;
	transition: background 400ms ease;
	box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.03), 0 22.3px 17.9px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
	overflow: hidden;
	&:hover {
		figcaption {
			transform: translateY(0px);
		}
	}

	&--1 {
		&:hover {
			background-position: 50% 100%;
		}
		figcaption {
			bottom: 0;
			transform: translateY(80px);
		}
	}
	&--2 {
		background-size: 110%;
		&:hover {
			background-position: 50% -100%;
		}
		figcaption {
			top: 0;
			transform: translateY(-80px);
		}
	}
	&--3 {
		background-size: 115%;
		&:hover {
			background-position: -100% 50%;
		}
		figcaption {
			left: 0;
			transform: translateX(-180px);
		}
	}
	&--4 {
		&:hover {
			background-position: 100% 50%;
		}
		figcaption {
			right: 0;
			transform: translateX(180px);
		}
	}

	&--1,
	&--2 {
		figcaption {
			width: 100%;
			height: 80px;
			padding: 15px 20px;
		}
	}
	&--3,
	&--4 {
		figcaption {
			flex-direction: column;
			width: 180px;
			height: 100%;
			padding: 20px 15px;
		}
	}

	figcaption {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		background: #282828;
		transition: transform 400ms ease;
		.info {
			color: rgb(226, 226, 226);
			font-family: "Montserrat";
			h3 {
				font-size: 1.2rem;
				letter-spacing: 1px;
				margin-bottom: 2px;
			}
			span {
				color: #72cc60;
				font-size: 0.85rem;
			}
		}
		.links {
			display: flex;
			justify-content: end;
			align-items: center;
			a {
				text-decoration: none;
				position: relative;
				width: 35px;
				height: 35px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
				margin-left: 10px;
				font-size: 1.2rem;
				opacity: 0.65;
				border-radius: 50%;
				overflow: hidden;
				&:hover {
					opacity: 1;
				}
				&:focus {
					outline: none;
					&::after {
						transform: scale(1);
						opacity: 1;
					}
				}
				&::after {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					border-radius: 50%;
					opacity: 0;
					background: rgba(255, 255, 255, 0.05);
					transform: scale(0.5);
					z-index: -1;
					transition: all 150ms ease;
				}
			}
		}
	}
}

@media only screen and (max-width: 900px) {
	body {
		align-items: start;
	}
	.container {
		grid-template-rows: repeat(4, 1fr);
		grid-template-columns: 1fr;
		grid-gap: 40px;
		padding: 80px 0;
	}
}

.support{
	position: fixed;
	right: 10px;
	bottom: 10px;
	padding: 10px;
	display: flex;
	a{
		margin: 0 10px;
		color: #222;
		font-size: 1.8rem;
		backface-visibility: hidden;
		transition: all 150ms ease;
		&:hover{
			transform: scale(1.1);
		}
	}

}